backups
logs
maps
Maps
shared
shared_memory
world
zone
db_update
updates_staged
eqlaunch
export_client_files
import_client_files
libcommon.a
libluabind.a
loginserver
queryserv
ucs
eqemu_config.json
login.ini
